body ,html, .body{
    height: 100%;
    width: 100%;
    background: url(./img/background-2462431_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
#root{
    height: 100%;
}
.land{
    background-image: url(./img/IrM.gif);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center center;
    height: 80%;
    width: 100%;

}

.card{
    background-color: rgba(45, 68, 90,0.2);
    margin: 2%;
    padding: 2%;
    opacity: 0.9;
    border: 1px solid rgb(102, 97, 97);
    border-radius: 10px;

}
.card-img{
    width: 100%;
    display: flex;

}
.card:hover{
    opacity: 1;
}
.card-img img{
    width: 200px;
    height: 200px;
    margin: auto;

}
.btn a{
    color: rgb(36, 68, 5);
    font-weight: bolder;
}

nav{
    background: rgba(45, 68, 90,0.7);
  }
.nav-item{
    font-size: 20px;
    margin: 2px;
}
footer{
    background-color: rgb(216, 229, 236, 0.96);
    padding-top: 20px;
  }
.head{

    margin: auto;
    color:whitesmoke;
}
.list{
    padding-top: 3%;
    padding-bottom: 3%;
}
.shop{
    padding-bottom: 2%;
}
.breadcrumb a{
    color: rgb(36, 68, 5);
}
@media(max-width:768px){
    nav{
        background: rgb(5, 8, 12);
    }
}